streamlit
torch
nltk
qdrant-client
requests
sentence-transformers
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
Office365-REST-Python-Client
matplotlib
pandas
openpyxl
chunknorris
markitdown[pptx]
pytest
pyvis
spacy
scipy
scikit-learn
wordcloud
networkx