streamlit
torch
nltk
qdrant-client
requests
sentence-transformers
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
Office365-REST-Python-Client
pypdf
langchain-text-splitters
networkx
matplotlib
pandas
openpyxl
pdf2image
pytesseract
pytest
pyvis
spacy
scipy
chunknorris
